/* external style sheet */

body {
    background-color: rgb(255, 243, 209);
}

/* * {
    border: 1px solid black;
} */

header h1{
    text-align: center;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    color: rgb(40, 61, 129);
}

section {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    align-items: flex start;
}

section img {
    width: 90%;
    height: 200px;
    vertical-align: flex start;
    object-fit: cover;
    /* object-position: center; */
}

footer p {
    text-align: center;
}